/*body{

  background-color:#555555;
  background-size:cover;
  margin: 0px;

}*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(20, 18, 18, 0.63);
}
/*
ul.tab li a {
    display: inline-block;
    color: #999494;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: Calibri ;
    font-weight: bolder;
}*/
/*ul.tab li a:hover {
    background-color: #d17070;
}*/
ul.tab li a:focus, .active {
    background-color: #ccc;
}
ul.tab li {
    float: left;
}

.user{
    color: #999494;
    margin-right: 10px;
}
.textlogout{
    float: right;
}
/*.container{
    background: rgba(255,255,255,0.6);
    border-radius: 6px 6px 6px 6px;
    position: relative;
    width: 390px;
    height: 440px;
    margin-top: 53px;
    margin-left: 450px;


}*/
.modal-content {
    background: rgb(165, 172, 176);
    border-radius: 6px 6px 6px 6px;
    position: relative;
    width: 45%;
    height: 94%;
    margin-top: -3%;
    margin-left: 28%;
}

.box{
    height: 7%;
    background: rgb(220, 222, 222);
    border-radius: 5px 5px 5px 5px;
    margin-top: 3%;
    margin-left: 4%;
}
/*.box:hover {
    background-color:#d17070;
}*/

button {
    /*color: black;*/
    padding: 8px 15px;
    margin: 8px 2;
    border: none;
    cursor: pointer;
    width: 24%;
}
.signup{
  background-color: #e7e7e7;
  color: black;
  margin-top: 27px;
  margin-left: 106px;
}
.signup:hover{
    background-color: #d17070;
}
.cancle{
    background-color: #4CAF50;
    color: while;
}
.cancle:hover{
    background-color: #d17070;
}
.title{
    font-size: 36px;
    font-weight: bolder;
    color:#800a0a;
    text-align: center;
    padding-top: 43px;
    font-family: Forte;
}
.boxcalendar{
  margin-left: 300px;
}

.signup:hover {
    background-color: #d17070;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background: rgb(165, 172, 176);
    border-radius: 6px 6px 6px 6px;
    position: relative;
    width: 45%;
    height: 93%;
    margin-top: -3%;
    margin-left: 28%;
}

.modal1-content {
    background: rgb(165, 172, 176);
    border-radius: 6px 6px 6px 6px;
    position: relative;
    width: 45%;
    height: 93%;
    margin-top: -3%;
    margin-left: 28%;
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.9s;
    animation: animatezoom 0.8s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.top{
    background: rgba(35, 43, 47, 0.51);
    box-shadow: 1px 1px 3px 3px rgba(44, 38, 38, 0.32);
    border-radius: 6px 6px 6px 6px;
    /* position: relative; */
    position: absolute;
    width: 92%;
    height: 80%;
    margin-top: 3%;
    margin-left: 4%;
}
.comment{
    /*background: red;*/
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    border-radius: 6px 6px 6px 6px;
    /* position: relative; */
    position: absolute;
    width: 92%;
    height: 13%;
    margin-top: 83%;
    margin-left: 4%;
}
.boxCom{
    position: absolute;
    width: 79%;
    height: 48%;
    margin-top: 2%;
    margin-left: 15%;
}

.boxMo{
    position: absolute;
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 75%;
    height: 50%;
    margin-top: 15px;
    margin-left: 68px;
}

.boxRate{
    position: absolute;
    background: rgb(221, 221, 221);
    width: 59%;
    height: 7%;
    margin-top: 67%;
    margin-left: -29%;
}


.boxMess{
    position: absolute;
    background: rgb(221, 221, 221);
    width:88%;
    height: 8%;
    margin-top: 58%;
    margin-left: -29%;
}

.boxManu{
    position: absolute;
    background: rgb(221, 221, 221);
    width: 100%;
    height: 8%;
    margin-top: 69%;
    margin-left: 0%;
    border-radius: 0px 0px 6px 6px;

}
.buttontest{
    position: absolute;
    margin-top: 69%;
    margin-left: 0%;
    /*width: 30%;*/
}
.score{
    position: absolute;
    background: rgb(221, 221, 221);
    border: 1px solid #888;
    width: 33%;
    height: 99%;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 0px 0px 0px 6px;
    cursor: pointer;
}

.score:hover {
    background-color: #71929e ;
}
.bcom{
    position: absolute;
    border: 1px solid #888;
    background: rgb(221, 221, 221);
    width: 33%;
    height: 99%;
    margin-top: 0%;
    margin-left: 33%;
    /*border-radius: 0px 0px 0px 6px;*/
    cursor: pointer;

}
.bcom:hover {
    background-color: #71929e;
}
.share{
    position: absolute;
    border: 1px solid #888;
    background: rgb(221, 221, 221);
    width: 34%;
    height: 99%;
    margin-top: 0%;
    margin-left: 66%;
    border-radius: 0px 0px 6px 0px;
    cursor: pointer;
}
.share:hover {
    background-color: #71929e;
}
.tag{
    position: absolute;
    background: rgb(221, 221, 221);
    width: 27%;
    height: 7%;
    margin-top: 58%;
    margin-left: 67%;
    cursor: pointer;
}
.tag:hover {
    background-color: #71929e;
}
.spoil{
    position: absolute;
    display: block;
    font-size: 17px;
    color: brown;
    margin-left: 86%;
    margin-top: 9%;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
