body{
    background: #dbe0e0;
    display: block;
    margin: 0px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5f5f5f;
    /*padding: 14px 16px;*/
    height: 64px;
}

ul.tab li a {
    display: inline-block;
    color: #999494;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: Calibri ;
    font-weight: bolder;
}
ul.tab li a:hover {
    background-color: #d17070;
}
ul.tab li a:focus, .active {
    background-color: #ccc;
}
ul.tab li {
    float: left;
}
button {
    color: white;
    padding: 8px 15px;
    margin: 8px 2;
    border: none;
    cursor: pointer;
    width: 24%;
}
/*.buttonadd {
    display: inline-block;
    color: #999494;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: Calibri;
    font-weight: bolder;
}*/
}.bg {
  min-height: 100%;
  width: 20px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.buttonadd:hover{
    background-color: #d17070;
    width: 20px;

}
.left{
    position: absolute;
    width: 24%;
    height: 100%;
    background-color: #9e9e9e;
}

.movie{
    position: absolute;
    float: right;
    margin-top: 0px;
    width: 76%;
    height: 68%;
    background-color: #607d8b;
    margin-left: 24%;

}
.insidemovie{
    position: absolute;
    margin-left: 9%;
    margin-top: 3%;
    width: 82%!important;
    height: 86%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);

}

.tabmovie{
    position: relative;
    margin-left: 24%;
    /*margin-top: 32%;*/
    width: 76%;
    height: 32%;
    background-color: rgba(158, 158, 158, 0.13);
    bottom: -68%;

}
.boxmovie{
    width: 24%;
    height: 64px;
    border: 1px solid #888;

}
form {
    width:500px;
    margin:50px auto;
}
.search {
    margin-top: -46px;
    margin-left: 365px;
    /*padding: 8px 15px; */
    height: 30px;
    background: rgba(50, 50, 50, 0.74);
    border: 0px solid #dbdbdb;
    width: 237px;

}
.button {
    position: relative;
    /* padding: 6px 15px; */
    left: 602px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    top: -46px;
    height: 30px;x;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.bigmovies{
    position: absolute;
    width: 83%;
    height: 60%;
    /* border: 1px solid #888; */
    margin-left: 9%;
    margin-top: 3%;
}
.movies{
    float: left;
    width: 15%;
    height: 115%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    cursor: pointer;
}
.tabbelow{
    list-style-type: none;
    bottom: : 0;
    padding: 0;
    overflow: hidden;
    background-color:#5f5f5f;
    /*padding: 14px 16px;*/
    width: 324px;
    height: 143px;
}

.w3-hover-text-indigo:hover{color:#3f51b5!important}
.w3-hover-text-purple:hover{color:#9c27b0!important}
.w3-hover-text-yellow:hover{color:#d2be0e!important}
.w3-hover-text-red:hover{color:#f44336!important}
.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-hover-text-blue:hover{color:#2196F3!important}

.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}
.w3-content{max-width:980px;margin:auto}
.w3-padding-64{
    padding-top:51px!important;
    padding-bottom:64px!important;
    margin-left: 85px;

}
.bigtypemovie{
    /*padding-top:73px!important;
    padding-bottom:64px!important;*/
    margin-left: 29px;
    padding-top:22px!important;
    padding-bottom:16px!important
}
.w3-large{font-size:18px!important}
.newfeed{
    position: relative;
    background-color: red;
    height: 100%!important;
    /*width: 100%!important;*/
    background: #dbe0e0;
}
.posi{
    position: relative;
}
