.post{
    position: relative;
    float: right;
    /* margin: 40 auto; */
    width: 85%;
    height: 85%;
    background-color: #ffffff;
    /* margin-left: 425px; */
    right: 13%;
    margin-top: 4%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.box{
    /*background: #fff;*/
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;

}
.boxpost{
    position: absolute;
    float: right;
    margin: 4% auto;
    width: 84%;
    height: 25%;
    background-color: #fff;
    margin-left: 8%;
    /*box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);*/
}

.buttonpost {
    position: absolute;
    border-radius: 8px;
    background-color: #207cca; /* Green */
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 15% 79%;
    cursor: pointer;
    width: 12%;
    height: 16%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.buttonpost:hover {
    background-color:#fafafa;
    color:#207cca;
}
.category{
    margin: -103px 347px;
    width: 13%;
    /*background-color: #207cca;*/
    font-size: 13px;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);

}
.nameMovie{
    /*position: absolute;*/
    height: 7%;
    width: 81%;
    background: rgb(220, 222, 222);
    /*border-radius: 5px 5px 5px 5px;*/
    margin-top: 8%;
    margin-left: 10%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
      font-size: 20px;
      font-family: cursive;
}
.postMovie{
    position: absolute;
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 54%;
    margin-top: 13%;
    margin-left: 10%;
      font-size: 20px;
}
.postmassage{
    position: absolute;
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 8%;
    margin-top: 3%;
    margin-left: 10%;
      font-size: 20px;
}
.Rate{
    position: absolute;
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 59%;
    height: 7%;
    margin-top: 63%;
    margin-left: 10%;
    font-size: 20px;
}

.Tag{
    position: absolute;
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 20%;
    height: 7%;
    margin-top: 63%;
    margin-left: 71%;
    cursor: pointer;
}
.bigcontainer{
    width: 54%;
    margin: 0% auto;
    margin-top: 0%;
    margin-left: 35%;
    padding: 20px;
    /*background: black;*/
}
.manuED{
    position: absolute;
    /*width:3%;
    height:29%;*/
    margin-left: 95%;
    margin-top: 2%;
    cursor: pointer;
    border: none;
    color:#676464;
    font-size:16px;
    /*color: black;*/
    /*background: black;*/

}
.dropdown {
    /*position: relative;*/
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 91px;
    height: 40px;
    overflow: auto;
    margin-left: 80%;
    margin-top: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 1px 6px;
    text-decoration: none;
    display: block;
}

.edit{
    cursor: pointer;
}
.edit:hover{
    background-color: #d17070;
    height: 21px;
}

.delete{
    cursor: pointer;
}
.delete:hover{
    background-color: #d17067;
    height: 22px;
}
