body{
  /*background-image: url("");*/
    background-color: #7b8d99;
    font-family: 'Abel', sans-serif;

}

input{
  font-family: 'Abel', sans-serif;
}

div.headBar{
  position: fixed;
  z-index: 5000;
  background-color: #3d3d3d;
  width: 100%;
  padding: 1.7%;
  left: 0;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.headbtn{
  width: 5%;
  position: absolute;
  display: inline;
  cursor: pointer;
  top: 0;
  text-align: center;
  height: 100%;
  line-height: 50px;
  color: white;
}

div.headbtn:hover{
  background-color:#ffffff ;
  color: #3c3c3c;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.menuTab{
  position: fixed;
  z-index: 0px;
  left: 0;
  bottom: 0;
  width: 19%;
  height: 93.25%;
  background-color: #d7d7d7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.menubtn{
  width: 100%;
  height: 7%;
  display: block;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
  color: #343434;
}

div.menubtn:hover{
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.profile{
  position: absolute;
  width: 60%;
  height: 93.25%;
  top: 6%;
  left: 17.5%;
  z-index: 100;
}

div.headProfile{
  position: absolute;
  top: 2%;
  left: 5.7%;
  height: 30%;
  width: 95%;
  border-radius: 6px 6px 0 0 ;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.profilePic{
  width: 15%;
  height: 42%;
  position: absolute;
  left: 10%;
  top: 42%;
  border: 1px solid;
}

#name{
  position: absolute;
  left: 30%;
  bottom: 35%;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div.menuProfile{
  width:95%;
  height: 6%;
  background-color: white;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid;
  position: absolute;
  top: 32%;
  left: 5.7%;
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.menuProfilebtn{
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

div.menuProfilebtn:hover{
  background-color: #858585;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.post{
  position: absolute;
  left: 22%;
  top:45%;
  width: 55%;
  height: 15%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

input#post{
  position: absolute;
  left: 20%;
  top: 20%;
  border: none;
  width: 60%;
  height: 30%;
  border-bottom: 1px solid #bfbfbf;
}

input#hashtag{
  position: absolute;
  left: 20%;
  top: 50%;
  border: none;
  width: 60%;
  height: 30%;
  border-bottom: 1px solid #bfbfbf;
}

div.button{
  position: absolute;
  border: 2px solid #7a7a7a;
  background-color: #ffffff;
  color: rgb(75, 75, 75);
  border-radius: 3px;
  color: black;
  width: 10%;
  height: 15%;
  right: 10%;
  bottom: 10%;
  text-align: center;
}

div.button:hover{
  background-color: #7a7a7a;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.online{
  position:fixed;
  right: 0;
  bottom: 0;
  width: 18%;
  height: 93.25%;
  background-color: white;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.friendOnline{
  display: block;
  height: 5%;
  background-color: #d4d4d4;
  width: 100%;
  line-height: 50px;

}

A {
  text-decoration: none;
}

/* Post in Profile page*/

.showPost{
  margin-top: 50%;
  margin-left: 13%;
  width: 80%;
}

.eachPost{
  margin-top: 5%;
  margin-left: 10%;
  background-color: #d6d6d6;
  width: 85%;
  border-radius: 10px;
  padding: 5%;
}
/* About me page */
.nameMovie{
    /*position: absolute;*/
    height: 7%;
    width: 81%;
    background: rgb(220, 222, 222);
    /*border-radius: 5px 5px 5px 5px;*/
    margin-top: 10%;
    margin-left: 0%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.postMovie{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 54%;
    margin-top: 4%;
    margin-left: 0%;
}
.postmassage{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 7%;
    margin-top: 4%;
    margin-left: 0%;
}
.Rate{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 59%;
    height: 7%;
    margin-top: 5%;
    margin-left: -22%;
}

.Tag{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 20%;
    height: 7%;
    margin-top: -7%;
    margin-left: 62%;
    cursor: pointer;
}
.bigcontainer{
    width: 54%;
    margin: 0% auto;
    margin-top: 0%;
    margin-left: 35%;
    padding: 20px;
    /*background: black;*/
}
.manuED{
    /*position: absolute;*/
    margin-left: 95%;
    margin-top: -9%;
    cursor: pointer;
    border: none;
    color:#676464;
    font-size:16px;
}
.dropdown {
    /*position: relative;*/
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #2b647f!important;
    height: 10%!important;
    overflow: auto!important;
    margin-left: 55%!important;
    margin-top: 0%!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)!important;
    z-index: 5!important;
    min-width: 13%!important;
    padding: 0px!important;

}

.dropdown-content a {
    color: black;
    padding: 1px 6px;
    text-decoration: none;
    display: block;
}

.edit{
    cursor: pointer;
}
.edit:hover{
    background-color: rgb(165, 201, 219);
    height: 21px!important;
}

.delete{
    cursor: pointer;
}
.delete:hover{
    background-color: rgb(165, 201, 219);
    height: 22px!important;
}

.boxAbout{
  position: absolute;
  left: 10%;
  top:42%;
  width: 86%;
  height: 55%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}


input.about{
  font-family: 'Abel', sans-serif;
  display: block;
  margin-top: 4%;
  margin-left: 31%;
  border: none;
  width: 40%;
  height: 10%;
  border-bottom: 1px solid #bfbfbf;
  font-size: 1em;
}

div.savebutton{
  border: 2px solid #7a7a7a;
  background-color: #ffffff;
  color: rgb(75, 75, 75);
  border-radius: 3px;
  color: black;
  width: 10%;
  height: 5%;
  margin-left: 45%;
  margin-top: 5%;
  text-align: center;

}

div.savebutton:hover {
  background-color: #7a7a7a;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.showData{
  text-shadow: 0 0 15px #787878;
  font-size: 1.2em;
  margin-top: 5%;
  margin-left: 30%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


div.polaroid {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-top: 5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.9em;
}

div.polaroid2{
  width: 100%;
  height: 20%;
  overflow: hidden;
}

div.polaroid2 img{
  height: 100%;
  width: auto;
  -webkit-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
          transform: translate(0%,0%);
}

div.polaroid2 img.portrait {
  width: 100%;
  height: auto;
}

div.container {
  text-align: center;
  padding: 1%;
}
