.post{
    position: absolute;
    float: right;
    /*margin: 40 auto;*/
    width: 40%;
    height: 30%;
    background-color: #ffffff;
    margin-left: 425px;
    margin-top: 40px;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.box{
    /*background: #fff;*/
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;

}
.boxpost{
    position: absolute;
    float: right;
    margin: 21px auto;
    width: 84%;
    height: 25%;
    background-color: #fff;
    margin-left: 37px;
    /*box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);*/
}

.buttonpost {
    border-radius: 8px;
    background-color: #207cca; /* Green */
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 78px 426px;
    cursor: pointer;
    width: 12%;
    height: 16%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.buttonpost:hover {
    background-color:#fafafa;
    color:#207cca;
}
.category{
    margin: -103px 347px;
    width: 13%;
    /*background-color: #207cca;*/
    font-size: 13px;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);

}
