html,input,button{
  font-family: 'Abel', sans-serif;
}



.post   {
    width: 85%;
    background-color: #ffffff;
    right: 13%;
    margin-top: 4%;
    border-radius: 10px;
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box{
    /*background: #fff;*/
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;

}
.boxpost{
    position: absolute;
    float: right;
    margin: 4% auto;
    width: 84%;
    height: 25%;
    background-color: #fff;
    margin-left: 8%;
    /*box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);*/
}

.buttonpost {
    position: absolute;
    border-radius: 8px;
    background-color: #207cca; /* Green */
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 15% 79%;
    cursor: pointer;
    width: 12%;
    height: 16%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.buttonpost:hover {
    background-color:#fafafa;
    color:#207cca;
}
.category{
    margin: -103px 347px;
    width: 13%;
    /*background-color: #207cca;*/
    font-size: 13px;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);

}
.nameMovie{
    /*position: absolute;*/
    height: 7%;
    width: 81%;
    background: rgb(220, 222, 222);
    /*border-radius: 5px 5px 5px 5px;*/
    margin-top: 10%;
    margin-left: 0%;
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
}
.postMovie{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 54%;
    margin-top: 4%;
    margin-left: 0%;
}
.postmassage{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 81%;
    height: 7%;
    margin-top: 4%;
    margin-left: 0%;
}
.Rate{
    /*position: absolute;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 59%;
    height: 4%;
    margin-top: 4%;
    margin-left: -22%;
}

.Tag{
    /*position: absolute;*/
    /*position: fixed;*/
    background: rgb(221, 221, 221);
    box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
    width: 20%;
    height: 4%;
    margin-top: -4.4%;
    margin-left: 62%;
    cursor: pointer;
}
.bigcontainer{
    width: 54%;
    margin: 0% auto;
    margin-top: 0%;
    margin-left: 35%;
    padding: 20px;
    /*background: black;*/
}
.fa{
    /*position: absolute;*/
    margin-left: 95%;
    margin-top: -9%;
    cursor: pointer;
    border: none;
    color:#676464;
    font-size:16px;
}
.dropdown {
    /*position: relative;*/
    display: inline-block;
}

.dropdown-content {

    display: none;
    /*position: absolute;*/
    background-color: #2b647f;
    min-width: 91px;
    height: 42px;
    overflow: auto;
    margin-left: 80%;
    margin-top: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 1px 6px;
    text-decoration: none;
    display: block;
}

.edit{
    cursor: pointer;
}
.edit:hover{
    background-color: rgb(165, 201, 219);
    height: 21px;
}

.delete{
    cursor: pointer;
}
.delete:hover{
    background-color: rgb(165, 201, 219);
    height: 22px;
}
div.menubtn{
  width: 100%;
  height: 7%;
  display: block;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
  color: #343434;
}

div.menubtn:hover{
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.bigComment{
  box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
  border-radius: 6px 6px 6px 6px;
  width: 65%;
  height: 0%;
  margin-top: 2%;
  margin-left: 1%;
  background: #eab7c7;
  padding: 5%;
}
.userCom{
  box-shadow: 1px 1px 3px 3px rgba(30,30,30,.2);
  border-radius: 6px 6px 6px 6px;
  width: 63%;
  margin-top: 2%;
  margin-left: 1%;
  background: rgb(196, 211, 217);
}
.buser{
  font-size: 22px;
  margin-left: -100%;
  margin-top: -14%;
}

.inputComment{
  width: 30%;
  height: 20%;

}
