html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #000000;
}

.container{
	margin: 0;
	padding: 0;
	background-color: #000000;
}

#head_warp{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	border-bottom: 5px solid brown;
	padding: 10px ;
	background: url(top.jpg);
}

#header{
	margin: 0 auto;
	padding: 10px;
	width: 1400px;
	height: 100px;
}

#form1{
	float: right;

}

#form1 input{
	width: 200px;
	height: 18px;
	padding: 10px;
	padding-left: 20px;
}

#form1 button{
	width: 100px;
	padding: 10px;
	color: #cccccc;
	background-color: #cc0000;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}

#form1 button:hover{
	background-color: #ff1a1a;
	color: white;
}

#content{
	padding-top: 70px;
	width: 1400px;
	height: 680px;
	margin: 0 auto;
}

#form2{
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}

#form2 input{
	width: 350px;
	height: 20px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 30px;
	padding-left: 10px;
	font-size: 25px;
}

#form2 select{
	width: 270px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

#form2 button{
	width: 120px;
	padding: 10px;
	color: #cccccc;
	background-color: #cc0000;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-top: 20px;
	margin-left: 70px;
}

#form2 button:hover{
	background-color: #ff3333;
	color: white;
}

#form2 h2{
	padding: 5px;
	margin-left: 100px;
	font-family: Comic Sans Ms;
	padding-bottom: 50px;
	font-size: 50px;
}

#form2 p{
	padding-right: 10px;
	font-family: Comic Sans Ms;
	font-size: 30px;
}

#footer{
	width: 100%;
	height: 57px;
	padding: 10px;
	background: url(top.jpg);
	border-top: 5px solid brown;
	clear: both;
}

#footer h2{
	text-align: center;
	padding-top: 3px;
	color: white;
}

h2 , td , strong{
	color: white;
}
